body {
    background-color: var(--bg-colour);
}

p, a{
    color: var(--fg-colour);
    font-family: 'Baloo Bhaina 2', sans-serif;
    font-size: 1.3rem;
}

h1 {
    color: var(--fg-colour);
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
}

h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.75rem;
}

h3 {
    color: var(--fg-colour);
    font-family: 'Baloo Bhaina 2', sans-serif;
    font-size: 1.6rem;
}

.buttonNav {
    padding: 20px 30px;
    border-radius: 5px;
    background-color: var(--fg-colour);
    color: var(--bg-colour);
}

.buttonWrapper {
    display: flex;
    justify-content: center;
    padding-top: 150px;
}

.titleText {
    text-align: center;
    padding: 50px 0;
    font-weight: 600;
}

.answerBody {
    box-sizing: border-box;
    border-radius: 30px;
    width: 100%;
    height: 60px;
    border: var(--fg-colour) solid 2px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    margin: 30px 0;
    cursor: pointer;
}

.answerBody.correct {
    background-color: var(--correct-colour);
}

.answerBody.incorrect {
    background-color: var(--false-colour);
}

.answerBody.displayCorrect {
    background-color: var(--fg-colour);
}

.answerBody.displayCorrect h3{
    color: var(--bg-colour);
}

.answerBody.incorrect .answerPoint,
.answerBody.correct .answerPoint,{
    background-color: var(--fg-colour);
}

.answerPoint {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: var(--fg-colour) solid 4px;
}

.answerText {
    padding: 8px 15px 0;
}

.questionWrapper {
    display: inline-block;
    margin: auto;
    opacity: 0;
    transition: opacity 1s;
}

.questionWrapperFrame {
    display: flex;
    justify-content: center;
    padding: 0 30px;
}

.questionWrapper.show {
    animation: fadeIn 1s;
    opacity: 1;
}

.question {
    text-align: center;
    font-weight: 600;
}

.resultsWrapper {
    text-align: center;
    padding: 100px 0;
    animation: fadeIn 1s;
}